header {    
    width: 100%;
    padding: 20px 8%;
}

#nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 80px;
    height: auto;
    cursor: pointer;
}

#nav-list{
    list-style: none;
    display: flex;
    gap: 42px;
}

#nav-list .item a{
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}

#nav-list .item a:hover{
    color: #2a80f0;
    font-weight: 700;
}

.btn-sair{
    padding: 10px 20px;
    background-color: #2a80f0;
    color: aliceblue;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.btn-sair a{
    text-decoration: none;
    color: aliceblue;
}

.btn-sair:hover{
    background-color: #1d5ed8;
}

#btn-mobile{
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 28px;
    color: #1d1d1dad;
}

#menu-mobile{
    display: none;
}

#nav-list-mobile{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 32px;
}

#nav-list-mobile .item-mobile a{
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}

#nav-list-mobile .item-mobile a:hover{
    color: #2a80f0;
    font-weight: 700;
}

.btn-sair-mobile{
    margin-top: 32px;
    padding: 10px 20px;
    background-color: #2a80f0;
    color: aliceblue;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.btn-sair-mobile a{
    text-decoration: none;
    color: aliceblue;
}

.btn-sair-mobile:hover{
    background-color: #1d5ed8;
}

@media (max-width: 768px){
    #nav-list{
        display: none;
    }

    #btn-mobile{
        display: block;
    }

    #menu-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #f0f0f0;
        padding: 20px 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        margin-top: 10px;
    }
}